<!DOCTYPE html>
<html>
  <head>
    <title>Devnet Expert OAUTH Validation</title>
  </head>
  <body style="background-color:#a5becc">
    <table width="100%" border="0" cellspacing="10" cellpadding="10">
      <tr width="100%">
        <td>
          <img src="IMG\logo.webp" alt="" />
          <h1>Welcome to the Devnet Expert Test Page</h1>
        </td>
      </tr>
      <tr>
        <td style="width:100%"><h2>What do you want to get? (ex. rooms)</h2></td>
      </tr>
      <tr>
        <td style="width:100%">
          <form method="POST">
            <input type="text" name="text_input">
            <input type="submit" value="Submit">
          </form>
        </td>
      </tr>
  </body>
</html>
